* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --red: #ec0e0e;
  --green: #33e47d;
  --purple: #9c88ff;
}
body {
  font-family: Lato, "sans-serif";
  width: 100%;
  max-width: 350px;
  margin: 0 auto 30px;
  min-height: 100vh;
  padding: 0 5px;
  background-color: #dedede56;
}
header {
  text-transform: capitalize;
  font-weight: lighter;
  text-align: center;
  line-height: 5rem;
}
section {
  margin: 20px 0;
}
section h3 {
  text-transform: uppercase;
  padding: 5px 0;
}
.money-dashboard {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px #00000010;
}
div.income,
div.expense {
  width: 50%;
  text-transform: uppercase;
}
div.income {
  border-right: 1px solid #dedede;
}
.income {
  letter-spacing: 1.2px;
  padding: 3px 0;
}
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.expense {
  letter-spacing: 1.2px;
  padding: 3px 0;
}
div.history,
div.new-transaction {
  border-bottom: 1px solid #c0c0c0;
  padding: 5px 0;
  margin: 20px 0 10px;
}

form {
  display: flex;
  flex-direction: column;
}
.btn {
  background-color: var(--purple);
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  text-transform: capitalize;
  /* letter-spacing: 1px; */
  /* font-size: 1rem; */
  color: #ffffff;
  outline: none;
  border: 0;
  cursor: pointer;
}
ul {
  position: relative;
}
li {
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 0 3px 3px #00000010;
  padding: 5px 10px;
  margin: 5px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  line-height: 1.5rem;
  font-size: 1.1rem;
}
button.btn-del {
  position: absolute;
  left: -5%;
  color: #fff;
  border-radius: 3px;
  background-color: var(--red);
  border: none;
  font-weight: bold;
  padding: 1px 4px;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  cursor: pointer;
}
li:hover button.btn-del {
  opacity: 1;
}
.item-green {
  border-right: 5px solid var(--green);
  /* border-radius: 0 5px 5px 0; */
}
.item-red {
  border-right: 5px solid var(--red);
  /* border-radius: 0 5px 5px 0; */
}
label {
  font-weight: bold;
}
span {
  display: block;
  padding: 0;
  line-height: 1.5rem;
}
input {
  padding: 2% 3%;
  border: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  margin-top: 5px;
  margin-bottom: 15px;
}
